<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/index.html" class="logo-container">
        <img src="/assets/crown.svg" alt="" />
      </a>
      <div class="options">
        <a href="#" class="option">Shop</a>
        <a href="#" class="option">Contact</a>
        <a href="#" class="option">Sign In</a>
        <div class="cart-icon">
          <img class="shopping-icon" src="/assets/shopping-bag.svg" alt="" />
        </div>
      </div>
    </div>

    <div class="shop-page">
      <div class="collection-page">
        <h1 class="title"><%= title.toUpperCase() %></h1>
        <div class="items">
          <% for(let i = 0; i<data.length; i++) { %>
            <div class="collection-item">
              <img class="image" src="<%= data[i].remote_url %>" />
              <div class="collection-footer">
                <span class="name"><%= data[i].name %></span>
                <span class="price"><%= data[i].price %></span>
              </div>
              <button class="custom-button">Add to Cart</button>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
